/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

///------------------------Reset CSS------------


body{
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  background: #e3e1e1;
}
#message {
	background: white;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 2px 0px 3px #cccccc;

  #welcome{
    #hello{
      padding: 20px 0;
      font-size: 1.4em;
      font-weight: bold;
    }
    #welcomeMessage{
      padding-bottom: 20px;
      font-size: 0.9em;
      line-height: 1.5em;
      span{
        font-weight: bold;
      }
    }
  }
  #mainDetails{
    padding: 20px;
    background: #dbdbdb;
    border-radius: 5px;
    box-shadow: 0px 1px 1px #a2a2a2;
    #details{
      display: flex;
      
      
      #foto{
        flex-basis: 100%;
        img{
          width: 100%;
          height: auto;         
        }

      }
      #dataClient{
        padding: 0 10px;
        #title{
          color: #848484;
          padding: 5px 0;
          font-size: 0.8em;
        }
        #place{
          padding: 5px 0;
          color: black;
          font-size: 1.2em;
          font-weight: bold;
          line-height: 1.2em;
          
        }
        #status{
          color:#848484;
          line-height: 1.4em;
          font-size: 0.8em;
          padding-top: 1em;
          #active{
            color: #03c403;
          }
          #date{
            color: black;
          }
        }
      }
    }
    .adButton{
      text-align: center;
      padding: 10px;
      border: 2px solid #4e4e4e;
      border-radius: 10px;
      margin: 7px 0;
    }
  }
  #shortNote{
    padding: 20px 0;
    color: #7e7e7e;
    font-size: 1em;
    line-height: 1.3em;
    font-size: 0.9em;
  }
  #adviceBox{
    #adviceTitle{
      text-align: center;
      padding: 20px 0;
      font-weight: bold;
      font-size: 1.2em;
    }
    #adviceList{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px;
      .advice{
        display: flex;
        align-items: center;
        .adviceNumber{
          padding: 10px 12px;
          color: orange;
          border: 1px solid orange;
          border-radius: 5px;
          
          font-weight: bold;
          font-size: 1.2em;
          
        }
        .adviceDescription{
          padding: 10px;
          margin-left: 15px;
          .mainText{
            margin-bottom: 5px;
            color: grey;
          }
          .secondText {
	           color: blue;   
          }
        }
      }
    }
  }
  #bigButton{
    padding: 12px 0;
    text-align: center;
    color: orange;
    border: 2px solid orange;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
  }
  #problems{
    font-size: 0.7em;
    line-height: 1.5em;
    color: #bcbcbc;
  }
  #signature{
    font-size: 1.3em;
    line-height: 1.7em;
    #main{
      font-weight: bold;
    }
    a{
      text-decoration: none;
    }
  }
  .hrLine {
	  margin: 15px 0;
    border: 1px solid #ededed;
}
  
}





